lastupdate.tmp
.vscode/
.idea/
sga_nota_mid
sga_nota_mid.exe
main
.scannerwork/
swagger/*.png
swagger/*.html
swagger/*.js
swagger/*.map
swagger/*.css
swagger/css/
swagger/fonts/
swagger/images/
swagger/lang/
swagger/lib/
sga_mid.exe
go.mod
go.sum